name: lint-test-build

on:
  push:
    branches:
      - main
    tags-ignore:
      - '**'
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: [3.7, 3.8, 3.9, '3.10']
        include:
          - os: windows-latest
            python-version: '3.10'
            

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
          cache-dependency-path: pyproject.toml

      - name: Run build pipeline for linting, testing & packaging verification.
        uses: pypyr/run-in-tox-action@main
        with:
          pipeline: ops/build package
          # python-version: ${{ matrix.python-version }}