name: publish-package

on:
  release:
    types: [created]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
          cache: pip
          cache-dependency-path: pyproject.toml

      - name: Run publish pipeline
        uses: pypyr/run-in-tox-action@main
        with:
          pipeline: ops/build publish
        env:
          FLIT_USERNAME: ${{ secrets.PYPI_USERNAME }}
          FLIT_PASSWORD: ${{ secrets.PYPI_PASSWORD }}

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3